@import "materials/main.scss";

.site-header {
    background-color: #3c1130;
    border-top: 0px solid;
    border-bottom: 2px solid $ubuntu-orange;
    font-weight: bold;
    z-index: 999999999;
    font-family: 'Ubuntu Mono', 'Courier New', monospace;
}

.site-nav {
    background-color: transparent;
}

.site-nav .page-link {
    color: #eeeeec !important;
    line-height: 1.5;
    padding: 5px 10px;
    margin-left: 20px;
    transition: color 0.2s ease;

    &:hover {
        color: $ubuntu-orange !important;
    }
}

.site-title {
    color: $ubuntu-orange !important;
    font-family: 'Ubuntu Mono', 'Courier New', monospace;

    &::before {
        content: "$ ";
        color: $ubuntu-green;
    }
}

.site-nav .page-link:not(:last-child) {
    margin-right: 0;
}

#loginArea {
    margin-left: 20px;
}

.site-title,
.site-title:visited,
.site-nav,
.page-link {
    font-weight: bolder;
}

@media screen and (max-width: fit-content) {
    .site-title {
        padding-right: 45px;
    }
}

.site-header .wrapper {
    max-width: fit-content !important;
}