/*
   Ubuntu Terminal Syntax Highlighting
   Based on Ubuntu's default terminal color scheme
*/
.highlight {
  color: #eeeeec;
  background-color: #300a24;
  border-radius: 6px;
  padding: 10px;
  font-family: 'Ubuntu Mono', 'Courier New', monospace;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight .w {
  color: #eeeeec;
}
.highlight .err {
  color: #eeeeec;
  background-color: #cc0000;
}
/* Comments - gray */
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888a85;
}
/* Preprocessor - orange */
.highlight .cp {
  color: #e95420;
}
/* Operators - white/light */
.highlight .o, .highlight .ow {
  color: #eeeeec;
}
/* Punctuation */
.highlight .p, .highlight .pi {
  color: #eeeeec;
}
/* Git insert - green */
.highlight .gi {
  color: #4e9a06;
}
/* Git delete - red */
.highlight .gd {
  color: #cc0000;
}
/* Heading - blue */
.highlight .gh {
  color: #729fcf;
  font-weight: bold;
}
/* Keywords - purple */
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #75507b;
}
/* Keyword constant/type - orange */
.highlight .kc, .highlight .kt, .highlight .kd {
  color: #e95420;
}
/* Strings - green */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #4e9a06;
}
/* Regex - cyan */
.highlight .sr {
  color: #06989a;
}
/* String interpolation - orange */
.highlight .si, .highlight .se {
  color: #e95420;
}
/* Names/Classes - yellow */
.highlight .nt, .highlight .nn, .highlight .nc, .highlight .no {
  color: #c4a000;
}
/* Attributes - blue */
.highlight .na {
  color: #3465a4;
}
/* Numbers - cyan */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #06989a;
}
/* Symbols - green */
.highlight .ss {
  color: #4e9a06;
}
/* Function names - light blue */
.highlight .nf {
  color: #729fcf;
}
/* Variables - white */
.highlight .nv, .highlight .vi, .highlight .vg, .highlight .vc {
  color: #eeeeec;
}